@import "tailwindcss";

/* Header style */

.header-backdrop {
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  padding: 10px 20px;
}
body {
  font-family: "Montserrat", sans-serif;
  background-color: #f8f8f6;
}
.font-serif {
  font-family: "Quintessential", serif;
}

/* made4u text */
.gradient-text {
  background: linear-gradient(to right, #f3f4f6 0%, #d1d5db 50%, #9ca3af 100%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  color: transparent;
}

/* hide scrollbar */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

@media (min-width: 768px) {
  .header-backdrop {
    justify-content: space-evenly;
    padding: 18px 0px;
  }
}
