@import "tailwindcss";

/* Cutomisation */

@theme {
  --font-serif: "Inter", sans-serif;
}




p {
  /* font-weight: 400; */
  font-size: 14px;
  line-height: 1.5;
}

/* Header style */
.header-backdrop {
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  padding: 8px 15px;
}
body {
  font-family: "Montserrat", sans-serif;
  background-color: #f8f8f6;
}

/* made4u text */
.gradient-text {
  background: linear-gradient(to right, #ffffff 0%, #fdfdfd 50%, #f1dba8 80%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  color: transparent;
}

/* trusted partners infinite scroll */
@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.animate-scroll {
  display: flex;
  width: max-content;
  animation: scroll 23s linear infinite;
}

.stop-scroll{
  animation-play-state: paused;
}


/* hide scrollbar */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

@media (min-width: 768px) {
  .header-backdrop {
    padding: 3px 30px;
  }
}
